@import "grid"
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,500,700|Halant:300')

$dark-g: #20292F
$light-g: #415566
$white: #FAFAFA
$light: #E0E9E6
$yellow: #F6C502
$red: #CA005D
$fucsia: #F700F6
$blue: #12A2F5

@keyframes Bounce
	from
		transform: translateY(-100%)
		opacity: .2
	to
		transform: translateY(0%)
		opacity: 1

*
	margin: 0
	padding: 0

img
	max-width: 100%

body
	background: $white
	color: $dark-g
	font-family: 'Dosis', sans-serif

.spacer
	width: 100%
	height: 100vh

.btn
	text-decoration: none
	text-transform: capitalize
	font-weight: 300
	padding: 1rem 2rem
	background-color: $white
	color: $blue
	border-radius: .2em
	margin-right: .5em
	margin-top: .8em
	display: inline-block
	box-shadow: 0 0 32px 32px rgba(255, 255, 255, 0)
	transition: all .2s ease

	&:hover
		box-shadow: 0 0 8px rgba(255, 255, 255, .9)

	&:last-child
		margin-right: 0

.sub-title
	text-transform: uppercase
	font-weight: 700
	font-size: 2em
	text-align: center
	margin: 3em auto

#drop-g
	display: none

.drop
	content: ''
	width: 64px
	height: 64px
	background: $blue
	position: absolute
	z-index: 1
	box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.6)
	
	&:after
		content: ''
		display: block
		width: 64px
		height: 64px
		border-radius: 100%
		background: linear-gradient($blue 45%, darken($blue, 15))
		transform: translateY(50%)

@for $i from 0 to 5
	$h: (#{64 / $i})
	$w: (#{$i * (64 + 2)})
	.drop-#{$i}
		top: calc(50% - #{$h}px)
		right: calc(2.5% + #{$w}px)

header
	width: 100%
	background: $blue

	.header-wrap
		width: 100%
		text-align: center

	.page-lead
		animation: Bounce
		animation-duration: 1s
		animation-iteration-count: once
		animation-delay: 1s
		animation-timing-function: cubic-bezier(0.98, 0, 0.34, 1.32)

	.rounded
		position: relative
		width: 100%
		height: 25vh
		z-index: 2

		&:after
			width: 100%
			height: 100%
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: $blue
			border-radius: 100%
			transform: translateY(50%)

.section-service
	background: $light
	padding-top: 20%
	position: relative

	&:before
		content: ''
		width: 150%
		height: 25vh
		background: inherit
		position: absolute
		bottom: -10%
		left: -25%
		transform-origin: 50% 50%
		transform: rotate(3deg)
		z-index: -1

	.service
		padding-top: 4em

.section-about
	color: $light-g
	margin-top: 12.5%

	p
		font-size: 1.4em

/*==================== Section Contact ====================*/
.section-contact
    min-height: 70vh
    
    .input
        position: relative
        margin-bottom: 2rem

    .bar
        position: relative
        width: 100%
        display: block

        &:before, &:after
            content: ''
            height: 2px
            width: 0
            bottom: 1px
            position: absolute
            background: $red
            transition: all .2s ease

        &:before
            left: 50%

        &:after
            right: 50%

    .highlight
        position: absolute
        height: 60%
        width: 100%
        top: 25%
        left: 0
        pointer-events: none
        opacity: .5

    label
        color: #999
        font-size: 18px
        font-weight: normal
        position: absolute
        pointer-events: none
        left: 5px
        top: 10px
        transition: all .2s ease

    input[type=text],
    input[type=email],
    textarea
        display: block
        width: 100%
        border: none
        padding: .5em 0
        border-bottom: 1px solid $light-g

        &:focus
            outline: none

            ~ label
                top: -20px
                font-size: 14px
                color: $red

            ~ .bar
                &:before, &:after
                    width: 50%

            ~ .highlight
                animation: inputHighlighter .3s ease

    textarea
        resize: none
        height: 11.6em

    input[type=reset],
    input[type=submit]
        width: 80%
        margin: 1rem auto
        border: none
        border-radius: 4px
        padding: .5em
        color: $white

.footer

	h4
		text-transform: uppercase
		font-size: 1.6em