section.section-about
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h1.sub-title about
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eveniet voluptate, molestiae fugiat consectetur provident odio adipisci veniam ullam quibusdam, nemo dicta suscipit ipsam voluptatibus asperiores, harum error itaque explicabo.