section.section-about
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h1.sub-title nosotros
				p Nuestra razón de ser es generar y crear soluciones integrales en comunicación, Publicidad y Marketing; para lograr nuestro objetivo nos adecuamos a las necesidades del cliente y de esta manera logramos el éxito en cada trabajo que desarrollamos con el profesionalismo y seriedad precisa en el uso de nuestros materiales.
	.skew