footer.footer
	.container
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				h4 footer title
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloremque ipsam accusamus?
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				h4 footer title
				p Lorem ipsum dolor sit amet consectetur.
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				h4 footer title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt labore dicta veniam, dolore error nulla quisquam doloribus veritatis sed quasi nihil ea, ex enim ratione cum doloremque eum esse repellendus!