header
	.header-wrap

		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.page-lead
						h1.brand-large Todo Cartel
						p.page-blurp Bordados y ploteaodos
						.cta
							a.btn.btn-hollow(href="#") saber mas
							a.btn(href="#") contatos

		.rounded
		.drop.drop-1
		.drop.drop-2
		.drop.drop-3
		.drop.drop-4
