section.section-service
	.container
		h1.sub-title servicios
		.service
			.row
				.col-xs-12.col-sm-12.col-md-8.col-lg-8
					img.service-img(src="img/service-1.png", alt="Service 1")
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.service-content
						h2.service-title servicio
						p.service-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore tenetur impedit accusamus distinctio, totam repellat animi ipsa officia illum nesciunt fugit adipisci atque soluta voluptatem voluptas beatae, voluptatibus sit?

		.service
			.row
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.service-content
						h2.service-title servicio
						p.service-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque labore tenetur impedit accusamus distinctio, totam repellat animi ipsa officia illum nesciunt fugit adipisci atque soluta voluptatem voluptas beatae, voluptatibus sit?
				.col-xs-12.col-sm-12.col-md-8.col-lg-8
					img.service-img(src="//placehold.it/800x600", alt="Service 1")